@import "../src/components/Navbar/NavBar.scss";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

:root {
  --mainColor: #29335C;
  --mainColorLight: #5767aa;
  --secenderyColor: #DB2B39;
  --textColor: gray;
}